# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environment
.venv/
venv/
env/

# Django
*.sqlite3
db.sqlite3
*.log
/media/
/staticfiles/

# Environment / secrets
.env
.env.*
*.secret

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
